.background1 {
    margin: 0;
    padding: 0;
	background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: center center;
    position: relative;
    animation: fadeIn 1s;
    background-image: url(home.jpg);
    overflow: hidden;
}

.background2 {
    margin: 0;
    padding: 0;
	background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: center center;
    position: relative;
    animation: fadeIn 1s;
    background-image: url(customizer.jpg);
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0.5;
    }
}

.left {
    float: left;
    width: 59%;
    height: 100vh;
    position: relative;
    top: 8vh;
    left: 1%;
}

.right {
    float: right;
    width: 36%;
    height: 100vh;
    position: relative;
    top: 8vh;
    right: 1%;
}

.center {
    text-align: center;
    height: 100%;
    width: 80%;
    left: 10%;
    position: relative;
}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    background: #eee;
}

.selectType {
    width: 80%;
    padding: 8px;
}

input[type=text]{
    width: 80%;
    border: 2px solid #aaa;
    margin: 5px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

input[type="text"]:-ms-input-placeholder {  
    text-align: center;
} 

input[type="text"]::-ms-input-placeholder {  
    text-align: center;
}

input[type="text"]::placeholder {  
    text-align: center; 
}